.uu-dai-container {
    display: flex;
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto;
    padding: 50px;
}
  
.uu-dai-left {
    width: 40%;
}

.uu-dai-right {
    width: 60%;
}
  
.uu-dai-left img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.uu-dai-other img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.uu-dai-right {
    padding-left: 30px;
}
  
.uu-dai-right h2 {
    color: #d32f2f;
    margin-bottom: 10px;
}

/* không thấy viền mờ của card */
.ant-card {
    border: none !important;
    box-shadow: none !important;
  }

  .uudai-container a {
    text-decoration: none !important; /* Xóa gạch chân */
    color: inherit; /* Giữ màu sắc gốc */
  }
  
  .uudai-container a:hover {
    text-decoration: none !important; /* Đảm bảo không gạch chân khi hover */
  }
  



  